# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Env files
.env
.env.local
.env*.local

# Build artifacts
*.zip
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
